{% load static %}
<header>
  <a href="{% url 'about' %}"><img src="{% static 'restaurant/logo.png' %}" /></a>
</header>
<nav>
  <ul>
    <li><a href="{% url 'home' %}">About</a></li>
    <li><a href="{% url 'about' %}">Home</a></li>
    <li><a href="{% url 'simple_menu' %}">Menu</a></li>
    <!-- <li><a href="{% url 'menu_items' %}">Menu</a></li> -->
    <li><a href="{% url 'book' %}">Book</a></li>
    <li><a href="{% url 'allbookings' %}">Bookings</a></li>
    <li><a href="{% url 'menu_items' %}">Menu Form</a></li>
  </ul>
</nav>
