<!--add this template tag-->
{% load static %}
<html>
   <head>
      <title>Capstone Project</title>
   </head>
   <body>
      <div>

         <img src="{% static 'restaurant/logo.png' %}"/>
         <h1 style="text-align:center;">Welcome To LittleLemon Restaurant</h1>
         <h2 style="text-align:center;">Site is under construction. Please use API endpoints for now.</h2>
         <h2 style="text-align:center;">Username : 'testuser' Password: 'mnbvcxza!'</h2>
         <li>
            <ol>1. Menu API : /restaurant/menu/menu/</ol>
            <ol>2. Menu API to update single menu (say menu with id =1): restaurant/menu/menu/1</ol>
            <ol>3. Booking Table API to view and update: /restaurant/booking/tables/</ol>
            <ol>4. To check MySQL tables: use LittleLemon; </ol>
         </li>
      </div>
   </body>
</html>