<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Menu Items</title>
</head>
<body class = "bg-light">
	<div class = "container pt-4">
		<h1>Menu Items</h1>
		<form method = "POST" id="form">
			{% csrf_token %}
			{{form.as_p}}
			<button type = "submit" class = "btn btn-primary">Submit</button>
		
		</form>
		
	</div>

	<script>
		const form = document.getElementById("form");

		function submitHandler(e){
			e.preventDefault();
			fetch(form.action,
			{
				method : 'POST',
				body : new FormData(form)
			}).then(response => response.json()).then(data => {
				if (data.message == ' success') {
					alert('Success!');
					form.reset()
				}
			});

		}
		
		form.addEventListener("submit",submitHandler());

	</script>

</body>
</html>

<!-- 
Using the fetch API :- (FETCH API)
const payload = {
    "title": "Ambrosia Ice cream",
    "price": 5.00,
    "inventory": 100
}
const endpoint = 'http://127.0.0.1:8000/api/menu-items'
fetch(endpoint,
    {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
    })
    .then(response => response.json())
    .then(data => {
        console.log(data)
    })
 -->